.nav-bar {
	background: #363636;
	padding: 14px;
	width: 100%;
	z-index: 1;

	.container {
		display: flex;
		align-items: center;
	}

	a {
		color: #eee;
	}

	nav {
		a {
			padding: 12px;
			font-size: 0.8rem;
		}
	}

	.icon {
		width: 35px;
		height: 35px;
		margin-right: 8px;
	}

	.sitename {
		font-size: 1.2rem;
		font-weight: bold;
		margin-right: auto;
		font-family: "Roboto Slab", sans-serif;
	}
}