.birdy {
	width: 100px;
	height: 100px;
	margin-left: 15px;
	color: #dd4b39;
	transform: scaleX(-1);
}

footer {
	padding: 25px 0;
	text-align: center;
	color: rgba(255, 255, 255, 0.3);
	background-color: #222222;

	p {
		font-size: 12px;
		margin: 0;
	}
	ul {
		margin-bottom: 0;

		li a {
		font-size: 12px;
		color: rgba(255, 255, 255, 0.3);
		text-decoration: none;
		}
	}
}
	
.footer-banner {
	text-align: center;
	color: #555;
	background:rgba(0,58,69,0.12);
}